@media screen and (max-width:1024px) {
  .section__wrap{
    padding: 16px !important;  
  }
  .section__wrap>div:first-child{
    display: none;
  }
  .section__right{
    margin-left: 0 !important;
  }
  
}